<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}###{% endblock title %} - F.L.O.S.S.E GmbH</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    {% endblock stylesheets %}
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
</head>

<body>
<div class="container header">
    <div class="row">
        <div class="col-12">
            {% block header_image %}
                <img src="{{ asset('img/header/home2.png') }}" />
            {% endblock header_image %}
            <a class="brand" href="{{ path('cms_static_index') }}">
                <i>F</i>.L.O.S.S.E.
                <small>Föderation für ein Leben ohne Sachzwang, Sorge und Eigentum</small>
            </a>
        </div>
    </div>
</div>
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            {% block main_menu %}
            {{  knp_menu_render('cms_main', { 'style': 'navbar' }) }}
            {% endblock main_menu %}
        </div>
    </div>
</div>

<!-- Begin page content -->
<div class="container" id="content">
    {% block content_container %}
    <div class="row">
        <div class="col-12">
        {% block content %}
        {% endblock content %}
        </div>
    </div>
    {% endblock content_container %}
</div>

<div id="footer">
    <div class="container">
        {% block footer %}

            <p>
                <strike>&copy;</strike>
                <span class="brand"><i>F</i>.L.O.S.S.E GmbH</span> {{ "now"|date("Y") }}
                -
                <a href="{{ path('cms_static_page', {'page':'impressum'}) }}">Impressum</a>
            </p>
        {% endblock footer %}
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
{% endblock %}
</body>
</html>
